<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let item of ini ; let last = last;">
    <ion-card *ngIf="last">
      <ion-card-header>
        {{item.task}}
      </ion-card-header>
      <ion-card-content>
        {{item.task_description}}
      </ion-card-content>
    </ion-card>
  </div>

  <h4>Login</h4>
  <hr>
  <ion-list>
    <ion-item >
      <ion-label floating>Username</ion-label>
      <ion-input type="text" placeholder="Input your MISO ID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button color="dark" full>Login</button>
</ion-content>
